<launch>
    <!--car_mode-->
    <arg name="car_mode"  default="mini_akm" /> 
    <!-- robot name-->
    <arg name="robot_name" default="AKM_1"/>
    <group ns="$(arg robot_name)">
    <!-- load the controllers -->
    <node name="controller_manager" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="$(arg car_mode)_left_wheel_velocity_controller  
        $(arg car_mode)_right_wheel_velocity_controller  $(arg car_mode)_left_steering_hinge_position_controller  
        $(arg car_mode)_right_steering_hinge_position_controller  $(arg car_mode)_joint_state_controller"/> 

    <node pkg="akm_control" type="sub_akm_cmd.py" name="sub_akm_cmd" output="screen"/>

    <node pkg="akm_control" type="pub_akm_cmd.py" name="pub_akm_cmd" output="screen">
        <param name="robot_name" type="string" value="$(arg robot_name)"/>
    </node>
    <!--load controller yaml-->
    <rosparam file="$(find nics_bringup)/config/akm_control.yaml" command="load"/>

    <node pkg="akm_control" name="gazebo_odometry_node" type="gazebo_odometry.py" output="screen">
        <param name="robot_name" value="$(arg robot_name)"/>
    </node>
    </group>

    <include file="$(find akm_description)/launch/nics_robot_gazebo_block.launch" >
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="x_pos" value="0.45"/>
        <arg name="y_pos" value="-1.8"/>
        <arg name="z_pos" value="0.5"/>
        <arg name="yaw_pos" value="0"/>
    </include>
    
    <!-- <node name="rviz" pkg="rviz" type="rviz"  args="-d $(find nics_bringup)/rviz_config/$(arg car_mode).rviz"/> -->
</launch>
